<%- include("./partials/header.ejs") %>

<% if(locals.maps_key) { %>
<script>
  (g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})({
    key: "<%= maps_key %>",
    v: "weekly",
    // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
    // Add other bootstrap parameters as needed, using camel case.
  });
  
</script>
<% } %>

<div class="d-flex justify-content-center align-items-center flex-column">
     
    <% if(locals.data) { %>

    <!-- <iframe src="https://free-map.org/#35.29912,-120.65827,15z" style="height: 700px; width: 70%;"></iframe> -->
    <div>
        <h4>Latidude : <%= data.latitude %></h1>
        <h4>Longitude : <%= data.longitude %></h1>
        <h4>Altitude : <%= data.altitude %></h1>
        <gmp-map center=<%=data.center%> zoom="2.3" style="width: 600px; height: 400px; z-index: 2;" map-id="iss map">
        </gmp-map>
    </div>
    <% } %>
    <a class="btn btn-primary mt-5" href="/map">Reload</a>
</div>

<script>
    async function initMap() {
    //  Request the needed libraries.
    const [{ Map }, { AdvancedMarkerElement }] = await Promise.all([
        google.maps.importLibrary("maps"),
        google.maps.importLibrary("marker"),
    ]);
    // Get the gmp-map element.
    const mapElement = document.querySelector("gmp-map");
    // Get the inner map.
    const innerMap = mapElement.innerMap;
    // Set map options.
    innerMap.setOptions({
        mapTypeControl: false,
    });
    // Add a marker positioned at the map center (Uluru).
    const marker = new AdvancedMarkerElement({
        map: innerMap,
        position: mapElement.center,
        title: "Uluru/Ayers Rock",
    });
    }
    initMap();
</script>
<%- include("./partials/footer.ejs") %>